include includes/mixins.jade

doctype html
html(lang="en")
	head
		+headContent(Chat)
	body
		+navbar
		
		.container
			.jumbotron
				.page-header
				h1 Welcome to CHAT
					small Alpha 0.0.0.0.0.0.1
				a.btn.btn-primary(href='/room/TEST_ROOM') ENTER

		+scripts