include includes/mixins.jade

doctype html
html(lang="en")
	head
		+headContent(Chat)
	body
		+navbar-no-home
			ul.nav.navbar-nav
				li
					a(href='/register') Register
		
		.container
			.jumbotron
				.page-header
				h1 Login
					p.lead If you dont have an account click 
						a(href='/register') here

				+userlogin_input('login')
					a.btn.btn-default(href='/register') Register

		+scripts