include includes/mixins.jade

doctype html
html(lang="en")
	head
		+headContent(Chat)
	body
		+navbar-no-home
			ul.nav.navbar-nav
				li
					a(href='/register') Login
		.container
			.jumbotron
				.page-header
				h1 Registration
					p.lead If you already have an account click 
						a(href='/login') here

				+userlogin_input('register')
					a.btn.btn-default(href='/login') Login

		


		+scripts