.mainContainer
{
	height: 100%;
	position: relative;
	padding-bottom: 70px;
}

.msg:first-child
{
	border-top: thin solid #000;
}

.msg
{
	border-bottom: thin solid #000;
	padding: 15px;
}

.mainContainer .msgs .toSelf
{
	background-color: #F5F5F5;
}

.chatInputs
{
	bottom: 10px;
	awidth: 100%;
	position: fixed;
}